.App {
  font-family: "Lobster", cursive;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 4rem;
}

input {
  width: 80%;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.3rem;
}

.meaning {
  font-size: large;
  font-weight: bold;
  margin: 0.5rem;
  font-size: 1.3rem;
}
.emojis {
  padding: 0.5rem;
  font-size: large;
  cursor: pointer;
}
